body {
    box-sizing: border-box;
    color: #333;
    letter-spacing: 0.02em;
    margin: 0;
    font-size: 14px;
    background-color: #fff;
    font-family: "PingFang TC", "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
}

main {
    max-width: 100%;
    overflow: hidden;
}

.container-fluid {
    min-width: 1440px;
    width: 100%;
    margin: 0;
    padding: 0 0 0 0;
    background: #fff;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    background: #f4f5f8;
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding: 0 0 0 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 700;
    line-height: 1;
    color: #222;
}

h1 {
    font-size: 66px;
    font-weight: 900;
    line-height: 92px;
    color: #3a424e;
}

h2 {
    font-size: 32px;
    color: #3A424E;
    font-weight: 900;
    line-height: 45px;
}

h3 {
    font-size: 28px;
    line-height: 40px;
    font-weight: 600;
    color: #3a424e;
}

h4 {
    font-size: 24px;
    font-weight: 600;
    color: #3a424e;
}

h5 {
    font-size: 18px;
    font-weight: 600;
    color: #3a424e;
    margin-bottom: 10px;
}

p {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    color: #3a424e;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    transition: all 300ms ease;
    cursor: pointer;
    color: #237EFF;
}

a:hover {
    color: rgb(30, 101, 201);
}

input {
    color: #333;
    letter-spacing: 0.03em;
    margin: 0;
    font-size: 16px;
}

.hide {
    display: none;
}

.button {
    background-color: #2F343B;
    text-align: center;
    width: 200px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.02em;
    border-radius: 8px;
    line-height: 60px;
    display: inline-block;
    transition: all 200ms ease;
    cursor: pointer;
    border: 2px solid #2F343B;
}

.button:hover,
.button:active {
    background-color: #48515F;
    border-color: #48515F;
    color: #fff;
}

.secondary_button {
    background-color: #ffffff;
    text-align: center;
    width: 200px;
    font-size: 20px;
    font-weight: 700;
    color: #2F343B;
    letter-spacing: 0.02em;
    border-radius: 8px;
    line-height: 60px;
    display: inline-block;
    transition: all 200ms ease;
    cursor: pointer;
    border: 2px solid #2F343B;
}

.secondary_button:hover,
.secondary_button:active {
    background-color: rgb(240, 242, 245);
    border-color: #48515F;
    color: #48515F;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

/*------------------------- header -------------------------*/

header {
    width: 100%;
    background-color: #ffffff;
    padding: 29px 0;
    padding: 0;
    z-index: 2;
    position: relative;
}

header .container-fluid.header {
    box-shadow: 0 2px 29px rgba(58, 66, 78, 0.1);
    background-color: #ffffff;
}

header .container {
    background-color: #ffffff;
    padding: 29px 26px;
    text-align: left;
    /*display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;*/
}

header .menu-btn {
    background-image: url("../img/menu.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 21px;
    background-color: transparent;
    border: none;
    margin: 0;
    float: left;
    width: 43px;
    height: 43px;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    display: none;
    transition: all 300ms ease;
    cursor: pointer;
}

header .close-btn {
    background-image: url("../img/close.svg");
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    position: absolute;
    cursor: pointer;
    display: none;
    top: 15px;
    right: 15px;
    background-size: 20px;
    width: 48px;
    height: 48px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

header .menu-btn:active,
header .menu-btn:hover {
    background-color: #f7f8f9;
}

header .close-btn:active,
header .close-btn:hover {
    background-color: #f7f8f9;
}

header a.logo {
    background-image: url("../img/logo_color_blend.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 32px;
    width: 203px;
    display: inline-block;
    vertical-align: middle;
}

header .container .new_domain {
    font-size: 16px;
    line-height: 22px;
    color: #3b424d;
    text-align: left;
    margin-left: 15px;
}

header .container .menu {
    display: inline-block;
    position: absolute;
    right: 25px;
}

header .container .menu ul {
    display: inline-block;
    text-align: right;
}

header .container .menu ul li {
    display: inline-block;
    margin-left: 40px;
    font-size: 18px;
    color: #3b424d;
}

header .container .menu ul li a {
    font-size: 18px;
    color: #3b424d;
    transition: all 200ms ease;
    font-weight: 700;
}

header .container .menu ul li a:hover {
    color: #237EFF;
}

header .container .menu ul li a.mobile-a {
    display: none;
}

header .login_button {
    border: none;
}

/*------- gradient header -------*/

header .container-fluid.header.gradient-header {
    background-image: linear-gradient(to right, #0096FF 10%, #2F5DFF 45%, #4F35FF 100%);
    background-color: transparent;
    box-shadow: none;
}

.gradient-header .container {
    background-color: transparent;
}

header .gradient-header .container .new_domain {
    color: #ffffff;
}

header .gradient-header .container .menu ul li a {
    color: #ffffff;
}

header .gradient-header .container .menu ul li a:hover {
    color: #7c9cf4;
}

header .gradient-header a.logo {
    background-image: url("../img/logo_white.svg");
}

.gradient-header .menu-btn {
    background-image: url("../img/menu-white.svg");
}

.gradient-header .menu-btn:hover {
    background-color: #316aa4;
}

.gradient-header .login_button {
    background-color: transparent;
}

.gradient-header nav.menu.animated ul li a {
    color: #3b424d;
}

.gradient-header nav.menu.animated ul li a:hover {
    color: #237EFF;
}


/*------------------------- inner page content -------------------------*/

.container-fluid.inner-page .container {
    background-color: #ffffff;
    box-shadow: 0px 7px 45px 0px rgba(151, 172, 185, 0.22);
    border-radius: 5px;
    margin: 30px auto;
    padding: 50px;
    text-align: left;
    max-width: 1390px;
}

.empty {
    height: 50px;
}

.empty.large {
    height: 80px;
}

.container-fluid.inner-page p {
    font-size: 16px;
    color: #7e8794;
}

.container-fluid.inner-page li {
    font-size: 16px;
    color: #7e8794;
    margin-bottom: 5px;
}

.container-fluid.inner-page .small {
    font-size: 12px;
}

.container-fluid.inner-page .right {
    text-align: right;
}

.container-fluid.inner-page .light-grey {
    color: #9DA7B5;
}

.inner-page .inner-mark-logo {
    width: 130px;
    height: 21px;
    display: inline-block;
    background-image: url("../img/logo_dark_navy.svg");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
}


/*------------------------- row 1 upper -------------------------*/

.row-1-upper .container {
    background-color: transparent;
}

.row-1-upper h1 {
    margin-top: 70px;
}

.row-1-upper ul {
    margin: 10px 0 10px;
}

.row-1-upper ul li {
    display: inline-block;
    border-right: 1px solid #E2E6EE;
    padding: 0 15px;
    font-size: 24px;
    color: #9FA6B4;
    font-weight: 300;
}

.row-1-upper ul li:last-child {
    border-right: 0;
}

.row-1-upper p {
    font-size: 32px;
    color: #3A424E;
    font-weight: 900;
}

.row-1-upper .price_tag {
    font-size: 38px;
    margin: 0 4px;
    display: inline-block;
}

.row-1-upper .price_amount {
    font-size: 57px;
    margin-right: 4px;
}

.row-1-upper .signup_container {
    margin-top: 30px;
    margin-right: 10px;
    display: inline-block;
}

.row-1-upper .download_container {
    display: inline-block;
    margin-top: 30px;
}

.row-1-upper .tips {
    background-color: #E9F1FF;
    border-radius: 18px;
    padding: 8px 20px 9px;
    color: #4361A2;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    display: inline-block;
}

.row-1-upper .tips:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 45%;
    width: 0;
    border-top: 13px solid #E9F1FF;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
}

.row-1-upper .signup_button {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

.row-1-upper .download_button {
    display: inline-block;
}

.row-1-upper .payment_support {
    margin-top: 28px;
}

.row-1-upper .payment_support ul {
    display: inline-block;
    margin: 0;
}


.row-1-upper .payment_support li {
    border-right: 0;
    padding: 0 7px;
}

.row-1-upper .payment_support li img {
    height: 22px;
}

.row-1-upper .payment_support span {
    vertical-align: super;
}

.row-1-upper .head-banner-container-1111 {
    background-image: url("../img/banner_1111Sale_desktop.png");
    width: 728px;
    height: 90px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-size: cover;
    border-radius: 4px;
}

.row-1-upper .head-banner-container-1111 + article h1 {
    margin-top: 30px;
}


.row-1-upper .head-banner-container-1212 {
    background-image: url("../img/banner_1212Sale_desktop.png");
    width: 728px;
    height: 90px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-size: cover;
    border-radius: 4px;
}

.row-1-upper .head-banner-container-1212 + article h1 {
    margin-top: 30px;
}

/*------------------------- row 1 lower -------------------------*/

.container-fluid.row-1-lower {
    height: 900px;
    margin: 0 auto;
    margin-top: -40px;
    position: relative;
    background-color: transparent;
}

.banner-element {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 900px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes lightrayanimation {
    0% {
        background-size: 80%;
        opacity: 0.8;
    }

    100% {
        background-size: 130%;
        opacity: 0;


    }
}

.banner-screens {
    background-image: url("../img/banner-screens@2x.png");
}

.light-ray-bg {
    background-image: url("../img/banner-light-ray-bg@2x.png");
    opacity: .8;
    animation: lightrayanimation 2s infinite;
    background-size: 80%;
}

.light-ray-bg-2 {
    background-image: url("../img/banner-light-ray-bg@2x.png");
    opacity: .8;
    animation: lightrayanimation 2s infinite;
    animation-delay: 0.5s;
    background-size: 80%;
}

.light-ray-bg-3 {
    background-image: url("../img/banner-light-ray-bg@2x.png");
    opacity: .8;
    animation: lightrayanimation 2s infinite;
    animation-delay: 1s;
    background-size: 80%;
}

.light-ray-bg-4 {
    background-image: url("../img/banner-light-ray-bg@2x.png");
    opacity: .8;
    animation: lightrayanimation 2s infinite;
    animation-delay: 1.5s;
    background-size: 80%;
}

.light-ray-bg-5 {
    background-image: url("../img/banner-light-ray-bg@2x.png");
    opacity: .8;
    animation: lightrayanimation 2s infinite;
    animation-delay: 1.6s;
    background-size: 80%;
}

.light-ray-bg-6 {
    background-image: url("../img/banner-light-ray-bg@2x.png");
    opacity: .8;
    animation: lightrayanimation 2s infinite;
    animation-delay: 2s;
    background-size: 80%;
}

.character-blue-sword {
    background-image: url("../img/char_blue_sword@2x.png");
}

.character-flying {
    background-image: url("../img/char_flying@2x.png");
}

.character-on-floor {
    background-image: url("../img/char_on_floor@2x.png");
}

.banner-macbook {
    background-image: url("../img/banner-macbook.png");
}

.banner-ios-mobile {
    background-image: url("../img/banner-ios-mobile.png");
}

.character-long-hair {
    background-image: url("../img/char_long_hair@2x.png");
}

.character-red-sword {
    background-image: url("../img/char_red_sword@2x.png");
}

.banner-mac {
    background-image: url("../img/banner-mac.png");
}

.banner-android-mobile {
    background-image: url("../img/banner-android-mobile.png");
}

.banner-mobile-screens,
.banner-mobile-devices {
    display: none;
}

/*------------------------- row 2 -------------------------*/

.row-2 .container {
    background-color: transparent;
    position: relative;
    z-index: 1;
}

.row-2 .container article {
    width: 1000px;
    padding: 48px 70px;
    box-shadow: 0 7px 37px rgba(151, 172, 185, 0.27);
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    position: relative;
    box-sizing: border-box;
}

.row-2 h3 {
    margin-bottom: 16px;
}

.row-2 p {
    font-size: 20px;
    color: #3a424e;
}

.row-2 article:before {
    content: "";
    background-image: url("../img/bubble_quote_red@2x.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 70px;
    height: 35px;
    position: absolute;
    right: -35px;
    top: 36px;
}

.row-2 article:after {
    content: "";
    background-image: url("../img/bubble_quote_blue@2x.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 70px;
    height: 35px;
    position: absolute;
    left: -35px;
    bottom: 36px;
}


/*------------------------- row 3 -------------------------*/

.row-3 {
    background-image: linear-gradient(#ffffff, rgba(216, 216, 216, 0.34));
    position: relative;
    padding-top: 120px;
}

.row-3 .container {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-3 article {
    text-align: left;
    width: 50%;
    display: inline-block;
    float: left;
}

.row-3 h2 {
    margin-bottom: 30px;
}

.row-3 .number-2 {
    font-size: 56px;
    margin-left: 5px;
}

.row-3 p {
    margin-bottom: 6px;
    color: #7E8794;
}

.row-3 .signup_button {
    margin-top: 24px;
}

.row-3 aside {
    width: 50%;
    display: inline-block;
    position: relative;
}

.row-3 .signup_ui {
    background-image: url("../img/signup_ui@2x.png");
    background-size: cover;
    width: 100%;
    height: auto;
    display: inline-block;
}

.row-3 .signup_ui:after {
    content: "";
    display: block;
    padding-bottom: 76.67%;
}

.row-3 .signup_character {
    background-image: url("../img/signup_character@2x.png");
    background-size: cover;
    width: 224px;
    height: 325px;
    position: absolute;
    bottom: 0;
    left: -20px;
}


/*------------------------- row 4 -------------------------*/

.row-4 {
    padding: 160px 0 120px;
}

.row-4 .container {
    background-color: transparent;
}

.row-4 .feature-list {
    text-align: left;
    width: 1440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row-4 .feature-list li {
    margin-bottom: 40px;
    margin-left: 25px;
    float: left;
    width: 655px;
    margin-right: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.row-4 .feature-list li:nth-child(even) {
    margin-right: 0;
}

.row-4 .feature-list li p {
    font-size: 18px;
    color: #8c94a1;
    margin-top: 6px;
}

.row-4 .feature-item .feature-content {
    margin-left: 20px;
}

.row-4 .feature-item .feature-icon {
    width: 120px;
    height: 120px;
    background-size: cover;
    display: inline-block;
    float: left;
}

.row-4 .feature-item.item-1 .feature-icon {
    background-image: url("../img/features-01.png");
}

.row-4 .feature-item.item-2 .feature-icon {
    background-image: url("../img/features-02.png");
}

.row-4 .feature-item.item-3 .feature-icon {
    background-image: url("../img/features-03.png");
}

.row-4 .feature-item.item-4 .feature-icon {
    background-image: url("../img/features-04.png");
}

.row-4 .feature-item.item-5 .feature-icon {
    background-image: url("../img/features-05.png");
}

.row-4 .feature-item.item-6 .feature-icon {
    background-image: url("../img/features-06.png");
}

.row-4 .feature-item.item-7 .feature-icon {
    background-image: url("../img/features-07.png");
}

.row-4 .feature-item.item-8 .feature-icon {
    background-image: url("../img/features-08.png");
}


/*------------------------- row 5 -------------------------*/

.row-5 {
    background-image: linear-gradient(rgba(230, 238, 243, 0.34), rgba(254, 254, 254, 0.34));
    position: relative;
    padding: 160px 0;
}

.row-5 .container {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-5 article {
    text-align: left;
    width: 35%;
    display: inline-block;
    float: left;
}

.row-5 aside {
    width: 65%;
    display: inline-block;
    position: relative;
}

.row-5 .route-map {
    background-image: url("../img/maps_2@2x.png");
    background-size: cover;
    width: 100%;
    height: auto;
    display: inline-block;
    position: relative;
}

.row-5 .route-map .pin {
    height: 16px;
    width: 16px;
    position: absolute;
    display: flex;
    background: #1582ff;
    border-radius: 50%;
    margin: -8px 0 0 -8px;
    top: 50px;
    right: 100px;
}

.row-5 .route-map .pin.hk {
    top: 196px;
    right: 187px;
}

.row-5 .route-map .pin.sh {
    top: 164px;
    right: 170px;
}

.row-5 .route-map .pin.kr {
    top: 156px;
    right: 151px;
}

.row-5 .route-map .pin.jp1 {
    top: 167px;
    right: 135px;
}

.row-5 .route-map .pin.jp2 {
    top: 141px;
    right: 112px;
}

.row-5 .route-map .pin.tw {
    top: 191px;
    right: 160px;
}

.row-5 .route-map .pin.bj {
    top: 142px;
    right: 190px;
}

.row-5 .route-map .pin.sg {
    top: 247px;
    right: 214px;
}

.row-5 .route-map .pin.au {
    top: 346px;
    right: 91px;
}

.row-5 .route-map .pin.ru {
    top: 93px;
    right: 385px;
}

.row-5 .route-map .pin.uk {
    top: 101px;
    right: 494px;
}

.row-5 .route-map .pin.de {
    top: 107px;
    right: 467px;
}

.row-5 .route-map .pin.fr {
    top: 119px;
    right: 486px;
}

.row-5 .route-map .pin.it {
    top: 144px;
    right: 451px;
}

.row-5 .route-map .pin.ca {
    top: 123px;
    right: 815px;
}

.row-5 .route-map .pin.la {
    top: 176px;
    right: 787px;
}

.row-5 .route-map .pin.ny {
    top: 150px;
    right: 698px;
}

.row-5 .route-map .pin.da {
    top: 158px;
    right: 744px;
}

.row-5 .route-map .pin.se {
    top: 125px;
    right: 795px;
}

.row-5 .route-map .wave-1 {
    width: 16px;
    height: 16px;
    background: #1582ff;
    border-radius: 50%;
    position: absolute;
    opacity: .5;
    animation: signalanimation 3s infinite;
}

.row-5 .route-map .wave-2 {
    width: 16px;
    height: 16px;
    background: #1582ff;
    border-radius: 50%;
    position: absolute;
    opacity: .5;
    animation: signalanimation 3s infinite;
    animation-delay: 0.45s;
}

@keyframes signalanimation {
    0% {
        width: 16px;
        height: 16px;
        margin: 0 0 0 0;
        opacity: .5;
    }

    80% {
        width: 58px;
        height: 58px;
        margin: -135% 0 0 -135%;
        opacity: 0;

    }

    100% {
        width: 16px;
        height: 16px;
        margin: 0 0 0 0;
        opacity: 0;
    }
}

.row-5 .route-map:after {
    content: "";
    display: block;
    padding-bottom: 44.67%;
}

.row-5 h2 {
    margin-bottom: 15px;
}

.row-5 p {
    color: #7e8794;
}

.row-5 .number-100 {
    font-size: 56px;
}

.row-5 .route-list {
    font-size: 14px;
    color: #9da7b5;
    margin-top: 20px;
}


/*------------------------- row 6 -------------------------*/

.row-6 {
    background-image: url("../img/game_bg@2x1.jpg");
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 357px;
    background-position: center;
}

.row-6 .container {
    background-color: transparent;
    color: #ffffff;
}

.row-6 .p-1 {
    font-size: 32px;
    color: #ffffff;
}

.row-6 .p-2 {
    font-size: 40px;
    color: #ffffff;
    margin-top: 12px;
    margin-bottom: 12px;
}

.row-6 .p-3 {
    font-size: 22px;
    color: #ffffff;
}

.iplc-label {
    width: 75px;
    height: auto;
    margin-right: 8px;
    margin-bottom: -2px;
}

.ms-label {
    width: 127px;
    height: auto;
    margin-left: 15px;
    margin-bottom: -3px;
}


/*------------------------- row 7 -------------------------*/

.row-7 {
    padding: 160px 0;
}

.row-7 .container {
    background-color: transparent;
    text-align: left;
}

.row-7 p {
    margin-top: 12px;
    color: #9da7b5;
    font-size: 20px;
}

.row-7 .media-pf-container {
    position: relative;
}

.row-7 .media-pf-list {
    margin-top: 70px;
}

.row-7 .media-item {
    width: 13.8%;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
}

.row-7 .media-item:after {
    content: "";
    display: block;
    padding-bottom: 194.75%;
}

.row-7 .media-item:nth-child(1) {
    background-image: url("../img/channel_netflix.jpg");
}

.row-7 .media-item:nth-child(2) {
    background-image: url("../img/channel_prime_video.jpg");
}

.row-7 .media-item:nth-child(3) {
    background-image: url("../img/channel_disney.jpg");
}

.row-7 .media-item:nth-child(4) {
    background-image: url("../img/channel_hbo_max.jpg");
}

.row-7 .media-item:nth-child(5) {
    background-image: url("../img/channel_BBC_iplayer.jpg");
}

.row-7 .media-item:nth-child(6) {
    background-image: url("../img/channel_mytv.jpg");
}

.row-7 .media-item:nth-child(7) {
    background-image: url("../img/channel_hulu.jpg");
}

.row-7 .media-item .blue-tick {
    position: absolute;
    width: 95px;
    height: 95px;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../img/channel_blue_tick@2x.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.row-7 .media-character {
    background-image: url("../img/media-character@2x.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 97px;
    height: 279px;
    position: absolute;
    bottom: 0;
    left: -45px;
}

/*------------------------- row 8 -------------------------*/

.row-8 {
    background-image: linear-gradient(#ffffff, #ffffff 7.9%, #f0f5f8 8%, #e2ebf1 100%);
}

.row-8 .container {
    background-color: transparent;
    overflow: hidden;
}

.row-8 .container {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-8 article {
    text-align: left;
    width: 50%;
    display: inline-block;
    float: left;
    margin-top: 40px;
}

.row-8 .number-3 {
    font-size: 56px;
    line-height: 78px;
    margin: 0 5px 0 10px;
}

.row-8 p {
    color: #7E8794;
    font-size: 20px;
}

.row-8 p:nth-child(2) {
    margin-bottom: 15px;
    margin-top: 10px;
}

.row-8 p.small {
    font-size: 18px;
}

.row-8 ul {
    margin-top: 20px;
}

.row-8 ul li {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

.row-8 .apple-icon {
    background-image: url("../img/icon_os_apple.svg");
}

.row-8 .windows-icon {
    background-image: url("../img/icon_os_window.svg");
}

.row-8 .android-icon {
    background-image: url("../img/icon_os_android.svg");
}

.row-8 .linux-icon {
    background-image: url("../img/icon_os_linux.svg");
}

.row-8 aside {
    width: 50%;
    display: inline-block;
    position: relative;
}

.row-8 .characters {
    background-image: url("../img/characters@2x.png");
    background-size: cover;
    width: 100%;
    height: auto;
    display: inline-block;
}

.row-8 .characters:after {
    content: "";
    display: block;
    padding-bottom: 81.125%;
}

.row-8 .signal-l {
    background-image: url("../img/signal-l@2x.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 283px;
    height: 210px;
    position: absolute;
    top: 0;
    left: 105px;
}

.row-8 .signal-m {
    background-image: url("../img/signal-m@2x.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 187px;
    height: 169px;
    position: absolute;
    top: 0;
    left: 333px;
}

.row-8 .signal-r {
    background-image: url("../img/signal-r@2x.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 411px;
    height: 357px;
    position: absolute;
    top: 50px;
    left: 346px;
}

/*------------------------- row 9 -------------------------*/

.row-9 {
    padding: 160px 0;
}

.row-9 .container {
    background-color: transparent;
}

.row-9 p {
    margin-top: 12px;
    color: #9da7b5;
    font-size: 20px;
}

.row-9 .app-carousel .apps-display {
    margin-top: 70px;
    background-image: url("../img/apps_full@2x1.jpg");
    background-size: 1960px;
    height: 380px;
    background-position: 1000px top;
    animation: carouselanimation 60s infinite;
    animation-timing-function: linear;
    /*transform: translateX(15%);*/
}

@keyframes carouselanimation {
    0% {
        background-position: 1500px top;
    }

    100% {
        background-position: 0px top;
    }
}


/*------------------------- row 10 -------------------------*/

.row-10 {
    padding: 160px 0;
    background-image: linear-gradient(rgba(244, 248, 250, 0.34), rgba(232, 239, 244, 0.34));
}

.row-10 .container {
    background-color: transparent;
}

.row-10 p {
    font-size: 20px;
    color: #9DA7B5;
    margin-top: 12px;
}

.row-10 .flow-list {
    width: 1240px;
    margin: 70px auto 0;
}

.row-10 .flow-item {
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.row-10 .content-container {
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.row-10 .content-container .list-title {
    font-size: 22px;
}

.row-10 .content-container p {
    font-size: 18px;
    color: #7E8794;
    margin-top: 4px;
}

.row-10 .flow-number {
    width: 120px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 60px;
}

.row-10 .flow-1 .flow-number {
    background-image: url("../img/step_1@2x.png");
}

.row-10 .flow-2 .flow-number {
    background-image: url("../img/step_2@2x.png");
}

.row-10 .flow-3 .flow-number {
    background-image: url("../img/step_3@2x.png");
}

.row-10 .flow-4 .flow-number {
    background-image: url("../img/step_4@2x.png");
}

.row-10 .content-container {
    width: calc(100% - 290px);
    padding-right: 20px;
}

.row-10 .timer {
    width: 110px;
    font-size: 18px;
    color: #9DA7B5;
    display: flex;
    align-items: center;
}

.row-10 .timer .time {
    font-size: 32px;
    margin: 0 5px;
}


/*------------------------- row 11 -------------------------*/

.row-11 {
    padding: 160px 0;
}

.row-11 .container {
    background-color: transparent;
}

.row-11 .plan-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 50px;
}

.row-11 h3 {
    margin-bottom: 20px;
}

.row-11 .plan-list .plan-item {
    width: 380px;
    display: inline-block;
    margin-right: 40px;
}

.row-11 .plan-list li:last-child {
    margin-right: 0;
}

.row-11 .plan-character {
    width: 100%;
    height: 362px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.row-11 .plan-character.plan-lite {
    background-image: url("../img/plan_a@2x.png");
}

.row-11 .plan-character.plan-pro {
    background-image: url("../img/plan_b@2x.png");
}

.row-11 .plan-character.plan-corp {
    background-image: url("../img/plan_c@2x.png");
}

.row-11 .plan-content {
    box-shadow: 0 7px 37px rgba(151, 172, 185, 0.22);
    margin-top: -182px;
    padding-top: 182px;
    padding-bottom: 60px;
    border-radius: 10px;
}

.row-11 .plan-title {
    font-size: 30px;
    font-weight: 600;
    color: #3A424E;
}

.row-11 .plan-description {
    font-size: 18px;
    color: #9DA7B5;
    padding: 0 25px;
    margin-top: 10px;
    min-height: 50px;
}

.row-11 .plan-detail {
    margin-top: 30px;
    text-align: left;
    padding: 0 50px;
}

.row-11 .plan-content-item {
    margin-bottom: 5px;
}

.row-11 .plan-content-item p {
    font-size: 18px;
    color: #3A424E;
    display: inline-block;
    vertical-align: top;
}

.row-11 .plan-content-item p .traffic,
.row-11 .plan-content-item p .device {
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1.2;
}

.row-11 .circle-tick {
    width: 24px;
    height: 24px;
    background-image: url("../img/icn_tick.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    display: inline-block;
    margin-right: 10px;
}

.row-11 .start {
    height: 20px;
    margin-left: 10px;
    vertical-align: inherit;
}

.row-11 .from-price {
    margin-top: 40px;
    color: #3A424E;
    font-weight: 600;
}


.row-11 .event_label {
    font-size: 14px;
    background: linear-gradient(90deg, #27bff9 0%, #27bff9 5%, #4e04ff 40%, #9600d2 52%, #ff0171 100%);
    color: #fff;
    padding: 2px 10px 3px;
    border-radius: 5px;
    vertical-align: top;
    margin-top: 13px;
    margin-bottom: -10px;
    display: inline-block;
    font-weight: 700;
}


.row-11 .price_tag {
    font-size: 20px;
    margin-right: -3px;
}

.row-11 .unit {
    font-size: 22px;
}

.row-11 .price_amount {
    font-size: 42px;
}

.row-11 .orig_price {
    text-decoration: line-through;
    font-weight: 400;
    margin-left: 5px;
    font-size: 20px;
}

.row-11 .payment_support {
    margin-top: 28px;
}

.row-11 .payment_support ul,
.row-11 .payment_support ul li {
    display: inline-block;
    margin: 0;
}

.row-11 .payment_support li {
    border-right: 0;
    padding: 0 7px;
}

.row-11 .payment_support li img {
    height: 22px;
}

.row-11 .payment_support span {
    vertical-align: super;
}

.row-11 .remarks {
    font-size: 18px;
    color: #9DA7B5;
    margin-top: 30px;
}

/*------------------------- row 12 -------------------------*/

.row-12 {
    background-image: linear-gradient(rgba(230, 238, 243, 0.34), rgba(254, 254, 254, 0.34));
    position: relative;
    padding: 160px 0;
}

.row-12 .container {
    background-color: transparent;
}

.row-12 ul {
    margin: 70px auto;
    width: 70%;
}

.row-12 .q-item {
    background-color: #f1f2f8;
    margin-bottom: 25px;
    border-radius: 5px;
    box-shadow: 0px 7px 45px 0px rgba(151, 172, 185, 0.22);
}

.row-12 .q-item .question {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-sizing: border-box;
    clear: both;
}

.row-12 .q-item .question h3 {
    font-size: 18px;
    text-align: left;
    padding: 0 50px 0 0;

}

.row-12 .q-item .question .plus-icon {
    background-image: url("../img/icon_plus.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    width: 40px;
    height: 40px;
    float: right;
    display: block;
    transition: all 400ms ease;
}

.row-12 .q-item .answer {
    padding: 30px;
    display: none;
    background-color: #F8F9FA;
}

.row-12 .q-item .answer p {
    font-size: 18px;
    text-align: left;
    color: #7F8693;
}

.row-12 .go-to-faq {
    font-size: 20px;
    border-radius: 8px;
    color: #237EFF;
    background-color: #ffffff;
    border: 2px solid #237EFF;
    width: 200px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 60px;
    display: inline-block;
    transition: all 200ms ease;
    cursor: pointer;
}

.row-12 .go-to-faq:hover {
    background-color: #ecf2f9;
    border-color: #9DC6FF;
}

/*------- inner page row 12 -------*/

.row-12.inner-page {
    padding: 30px 0;
    background-color: transparent;
    background-image: none;
    padding-top: 0;
}

.row-12.inner-page .container {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
}

.row-12 header {
    z-index: 1;
}


/*------------------------- row 13 -------------------------*/

.row-13 {
    background-image: linear-gradient(rgba(248, 248, 248, 0.34), rgba(234, 234, 234, 0.34));
    padding: 160px 0;
}

.row-13 .container {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.row-13 aside {
    width: 75%;
    display: inline-block;
}

.row-13 aside .backend_screen {
    background-image: url("../img/backend_screen@2x.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    height: 705px;
    width: 100%;
}

.row-13 aside .backend_screen:after {
    content: "";
    padding-bottom: 79.02%;
    display: inline-block;
}

.row-13 article {
    width: 45%;
    display: inline-block;
    text-align: left;
}

.row-13 p {
    font-size: 22px;
    color: #7e8794;
    margin-top: 15px;
    margin-bottom: 20px;
}

.row-13 .button {
    width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.login_button-row13 {
    color: #237EFF;
    background-color: #ffffff;
    border: 2px solid #237EFF;
}

.login_button-row13:hover {
    background-color: #E9F2FF;
    border-color: #9DC6FF;
}

.row-13 .function-list {
    font-size: 18px;
    color: #7e8794;
    margin-bottom: 30px;
}

/*------------------------- row 14 -------------------------*/

.row-14 {
    padding: 60px 0;
    background-image: linear-gradient(rgba(226, 235, 241, 0.55), rgba(240, 245, 248, 0.55));
}

.row-14 .container {
    background-color: transparent;
    display: flex;
}

.row-14 aside {
    width: 45%;
    display: inline-block;
}

.row-14 article {
    width: 55%;
    display: inline-flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
}

.row-14 h2 {
    margin-bottom: 15px;
}

.row-14 p {
    color: #7e8794;
    margin-bottom: 10px;
}

.row-14 .privacy_protection {
    background-image: url("../img/graphic_privacy.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 85%;
}

.row-14 .privacy_protection:after {
    content: "";
    padding-bottom: 100%;
    display: inline-block;
}

/*------------------------- row 15 -------------------------*/

.row-15 {
    padding: 60px 0;
    background-color: #F5F8FA;
}

.row-15 .container {
    background-color: transparent;
}

.row-15 .logo-carousel {
    min-width: unset;
    width: 1440px;
    margin: auto;
    background-color: transparent;
}

.row-15 .logo-carousel .partner-logo-display {
    background-image: url("../img/partner_logo_display.png");
    background-size: 1440px;
    height: 290px;
    background-position: 0px top;
    width: 100%;
}

/*------------------------- row 16 -------------------------*/

.row-16 {
    background-color: #0A0A0A;
    background-image: url("../img/bg_4k.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.row-16 .container {
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.row-16 article {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    color: #ffffff;
    text-align: left;
}

.row-16 h2 {
    color: #ffffff;
    text-align: left;
    margin-bottom: 12px;
}

.row-16 p {
    color: #ffffff;
}

.row-16 .fourk-label {
    width: 84px;
    height: auto;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: -3px;
}

.row-16 aside {
    width: 60%;
    margin-top: 50px;
}

.row-16 aside .fourk-screen {
    background-image: url("../img/4k_screen@2x1.png");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
}

.row-16 aside .fourk-screen:after {
    content: "";
    padding-bottom: 60.035%;
    display: block;
}


/*------------------------- row 17 -------------------------*/

.row-17 {
    background: linear-gradient(rgba(225, 226, 226, 0.7), rgba(230, 238, 243, 0.34));
    padding: 80px 0;
}

.row-17 h2 {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.row-17 h3 {
    display: block;
    width: 100%;
    margin-bottom: 30px;
}

.row-17 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    flex-wrap: wrap;
}

.row-17 .download-item-container {
    display: inline-flex;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 10px 0 #d2d3d8, 0 0 1px 0 #d1d2d8;
    /*box-shadow: 0 7px 20px rgba(151,172,185,0.2);*/
    padding: 30px 40px;
    text-align: left;
    width: calc(42% - 60px);
    margin: 0 10px 20px;
    align-items: center;
}

.row-17 .download-item-container .download-item-thumbnail {
    display: block;
    width: 120px;
    height: 120px;
    margin-right: 40px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.row-17 .download-item-container .download-item-text {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.row-17 .download-item-container .button {
    font-size: 14px;
    line-height: 38px;
    width: 200px;
    margin-top: 4px;
}

.row-17 .download-item-container .title {
    font-size: 20px;
    font-weight: 600;
}

.row-17 .download-item-container .remark {
    font-size: 13px;
    color: #8c94a1;
    margin-top: 8px;
}


/*------------------------- footer -------------------------*/

footer,
footer .container-fluid,
footer .container {
    background-color: #292F36;
    color: #fff;
}

footer .container {
    padding: 50px 25px;
    text-align: left;
    position: relative;
}

footer .social-media {
    width: 23px;
    height: 23px;
    margin-left: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

footer .social-media-container a:hover {
    opacity: 55%;
}

footer .social-media.facebook {
    background-image: url("../img/icon_social_media_facebook.svg");
}

footer .social-media.instagram {
    background-image: url("../img/icon_social_media_instagram.svg");
}

footer .social-media.twitter {
    background-image: url("../img/icon_social_media_twitter.svg");
}

footer .social-media.telegram {
    background-image: url("../img/icon_social_media_telegram.svg");
}

footer p {
    color: #fff;
    font-size: 14px;
}

.footer-logo-container {
    position: relative;
    display: block;
}

.footer-logo-container .footer-logo {
    background-image: url("../img/logo_white.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
    width: 163px;
    height: 25px;
    display: inline-block;
    margin-right: 10px;
}

.footer-logo-container p {
    display: inline-block;
    vertical-align: super;
}

.footer .social-media-container {
    display: inline-block;
    position: absolute;
    top: 50px;
    right: 25px;
}

.footer .social-media-container p {
    display: inline-block;
    vertical-align: super;
}

.footer-links {
    margin: 25px 0;
}

.footer-links a {
    color: #fff;
    font-size: 16px;
    margin-right: 20px;
}

p.copyright {
    color: #7F8693;
}

.footer a:hover {
    color: #9DA7B5;
}

/*------------------------- gradient main top -------------------------*/

.gradient-main-top {
    background-image: linear-gradient(to right, #0096FF 10%, #2F5DFF 45%, #4F35FF 100%);
    padding-top: 140px;
    padding-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.gradient-main-top:after {
    content: "";
    position: absolute;
    background-image: url("../img/character_pro_bg.png");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: contain;
    opacity: .2;
    mix-blend-mode: luminosity;
    pointer-events: none;
    width: 320px;
    height: 275px;
    right: 40px;
    bottom: -10px;

}

.gradient-main-top .container {
    background-color: transparent;
    z-index: 1;
}

.gradient-main-top h1 {
    color: #ffffff;
}


/*************************For Overriding******************************/

.theme-gradient-text {
    background: linear-gradient(120deg, #27bff9 0%, #27bff9 25%, #4e04ff 40%, #9600d2 52%, #db0161 72%, #f52222 80%, #f52222 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}